@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.current-order__heading {
    @include type-style('productive-heading-05');
    margin-bottom: $spacing-05;
}

.current-order__price {
    @include type-style('productive-heading-03');
    margin-top: $spacing-05;
}

.foodmenu__table {
    margin-top: $spacing-06;
    margin-bottom: $spacing-06;
}